@font-face {
  font-family: 'ZpixA';
  font-style: normal;
  font-weight: 400;
  src: local('Zpix');
  src: url('../fonts/zpix.woff2'); /* 谷歌 */
}

/* code */
@font-face {
  font-family: 'Sarasa Mono Slab SC';
  font-style: normal;
  font-weight: 400;
  src: local('Sarasa Mono Slab SC');
  src: url('../fonts/sarasa-mono-slab-sc-regular.woff2'); /* Chrome */
}

@font-face {
  font-family: 'DOS';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Fixedsys500c.woff'); /* Chrome */
}

@font-face {
  font-family: 'DOS-c';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ipix.woff2'); /* Chrome */
}

@font-face {
  font-family: 'Fpp';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fpp12.woff2');
}

@font-face {
  font-family: 'Silver';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Silver.woff2');
}