/* 点阵 */
@font-face {
  font-family: 'ZpixA';
  font-style: normal;
  font-weight: 400;
  src: local('Zpix');
  src: url('../fonts/zpix.woff2'); /* 谷歌 */
  /* src: url('../fonts/zpix.woff'); 谷歌 */
  /* src: url('../fonts/zpix.ttf'); Safari */
}

/* code */
@font-face {
  font-family: 'Sarasa Mono Slab SC';
  font-style: normal;
  font-weight: 400;
  src: local('Sarasa Mono Slab SC');
  src: url('../fonts/sarasa-mono-slab-sc-regular.woff2'); /* Chrome */
  /* src: url('../fonts/sarasa-mono-slab-sc-regular.woff'); safari and so on */
  /* src: url('../fonts/sarasa-mono-slab-sc-regular.ttf'); safari and so on */
}

@font-face {
  font-family: 'DOS';
  font-style: normal;
  font-weight: 400;
  /* src: local('Sarasa Mono Slab SC'); */
  src: url('../fonts/Fixedsys500c.woff'); /* Chrome */
  /* src: url('../fonts/sarasa-mono-slab-sc-regular.woff'); safari and so on */
  /* src: url('../fonts/sarasa-mono-slab-sc-regular.ttf'); safari and so on */
}

@font-face {
  font-family: 'DOS-c';
  font-style: normal;
  font-weight: 400;
  /* src: local('Sarasa Mono Slab SC'); */
  src: url('../fonts/ipix.woff2'); /* Chrome */
  /* src: url('../fonts/sarasa-mono-slab-sc-regular.woff'); safari and so on */
  /* src: url('../fonts/sarasa-mono-slab-sc-regular.ttf'); safari and so on */
}